# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
.env

# Flask
instance/

# Dados locais
data/*.csv
!data/.gitkeep

# Editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db